<h1>Admin::ClassTasks#new</h1>
<p>Find me in app/views/admin/class_tasks/new.html.erb</p>
<%= form_with(model: @class_task,url:admin_class_tasks_path,local: true)do |f| %>
<%= f.label :name, "授業名:" %>
<%= f.text_field :name %>
<%= f.label :teacher_name, "教授名" %>
<%= f.text_field :teacher_name %>
<%= f.date_field :times, value: Time.now %>
<%= f.submit :新規登校 %>
<% end %>