<h1>Public::ClassTasks#index</h1>
<p>Find me in app/views/public/class_tasks/index.html.erb</p>
<%= link_to "両方とも履修している" ,public_all_up_path ,method: :post %>


<%= form_with(model:@center, url:public_centers_path,method: :post ,local:true) do |f|%>
<%#= form_with(model:@order, url: order_confirm_path,method: :post,local: true) do |f| %>
   <ul style="list-style:none;">
     <li><%= @p.name %><%= f.radio_button :class_task_id, 1,checked: true%></li>
     <li><%= @c.name %><%= f.radio_button :class_task_id, 2%></li>
   </ul>
 <%= f.submit "履修しました"%>
<% end %>


<%= month_calendar events: @class_task do |date| %>
      <%# if date >= Date.today %>
        <%#= link_to day_path(date) do %>
          <div class="date-day">
            <%= date.day %>
          </div class="seet-count">
          <div>
            <%# if reservation.count != 0 %>
              <%#= reservation_count(reservation) %>
            <%# end %>
          </div>
        <%# end %>
      <%# else %>
        <div class="date-day">
          <%#= date.day %>
        </div>
        <div class="seet-count">
          <%# if reservation.count != 0 %>
          <%#= reservation_count(reservation) %>
          <%# end %>
        </div>
      <%# end %>
    <% end %>