<div class="container">
	<%= flash[:notice] %>
	<h2>maypage</h2>
	<h3>登録情報</h3>
	<div class="row">
		<div class="col-xs-10">
			<table class="table table-bordered">
				<thead>
					<tr>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="col-xs-3 p">氏名</td>
						<td style="text-align: center;"><%= @end_user.name %></td>
					</tr>
					<tr>
						<td class="col-xs-3 p">学籍番号</td>
						<td style="text-align: center;"><%= @end_user.my_number %></td>
					</tr>
					<tr>
						<td class="col-xs-3 p">学年</td>
						<td style="text-align: center;"><%= @end_user.my_grade %>年</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<span><strong style="font-size: 20px;">下記が履修科目です</strong></span><br>
    <table class='table table-bordered'>
       	<thead>
       		<tr>
           		<th>履修科目</th>
            	<th>担当教授名</th>
          	</tr>
        </thead>
        <tbody>
        	<% current_user.centers.all.each do |f| %>
          		<tr>
            		<td><%= f.class_task.name %></td>
            		<td><%= f.class_task.teacher_name %></td>
         		</tr>
         	<% end %>
        </tbody>
    </table>
</div>